@import "tailwindcss";



body {
  font-family: 'Inter', sans-serif;
}

/* Remove spinner arrows for WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}